<div class="container px-4 py-5">
  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <!-- lateral -->
    <div class="d-flex flex-column align-items-start gap-2">
      <img src="https://i.ibb.co/yBsGGFL/logo.png" class="centro" width="40%">
      <h3 class="fw-bold">En AlumnControl te ofrecemos diversos servicios para facilitar tu trabajo</h3>
      <p class="text-muted">Creemos que la tecnologia aun nos puede facilitar un monton la vidaa, por eso nuestros trabajos estan realizados con la mejor precision y con extrictos controles de calidad para asi ofrecer los mejores servicios a nuestros clientes con precios accesibles para todos.</p>
      <a routerLink="/nosotros" class=" centro btn btn-primary btn-md">Sobre Nosotros</a>
    </div>
    <!-- lateral -->
    <!-- tarjetas-->
    <div class="row row-cols-1 row-cols-sm-2 g-4">
      <!--tarjeta de servicio-->
      <div class="d-flex flex-column gap-2 centro">
        <h4 class="fw-semibold mb-0"><mat-icon>school</mat-icon> <br>Gestion de Cursos </h4>
        <p class="text-muted">Podras crear, eliminar y editar cursos de tu sistema sin mayor complicacion, ya que esta creado para manejar miles de datos por segundo. Tanto tu administrador como tus profesores podran ingresar a estos datos y si lo deseas solo tu puedes hacer modificaciones.</p>
      </div>
      <!--tarjeta de servicio-->
      <!--tarjeta de servicio-->
      <div class="d-flex flex-column gap-2 centro">
        <h4 class="fw-semibold mb-0"><mat-icon>history_edu</mat-icon> <br>Gestion de Apoderados </h4>
        <p class="text-muted">Tanto tu administrador como tus profesores podran descansar de la molestia de los apoderados, con este servicio permitimos al apoderado ver las notas de su alumno con un promedio en tiempo real basado en el numero de notas correspondientes al dia de la consulta.</p>
      </div>
      <!--tarjeta de servicio-->
      <!--tarjeta de servicio-->
      <div class="d-flex flex-column gap-2 centro">
        <h4 class="fw-semibold mb-0"><mat-icon>money</mat-icon> <br>Gestion de Profesores </h4>
        <p class="text-muted">Con este sistema olvidate de los malos ratos al realizar los pagos, proximamente integraremos un api de fentech la cual permite realizar todos los pagos desde la misma plataforma con el banco que quieras !.</p>
      </div>
      <!--tarjeta de servicio-->
      <!--tarjeta de servicio-->
      <div class="d-flex flex-column gap-2 centro">
        <h4 class="fw-semibold mb-0"><mat-icon>school</mat-icon> <br>Gestion de Alumnos </h4>
        <p class="text-muted">Manten los registros de todos tus alumnos al alcance de un clik, un apoderado necesita info del rendimiento, un click y ya esta, gracias a la super gestion de alumnos de pinolabs.</p>
      </div>
      <!--tarjeta de servicio-->
    </div>
    <!-- tarjetas-->
  </div>
</div>
