<mat-grid-list cols="1" rowHeight="100px">
  <mat-grid-tile>
    <h1 class="m-3 Titulo">Matriculas</h1>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile [colspan]="4">
    <div class="row centro">
      <div class="col col-md-12">
        <table class="table table-primary">
          <thead>
            <tr>
              <th scope="col">Alumno</th>
              <th scope="col">Curso</th>
              <th scope="col">Profesor</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody *ngFor="let matricula of matriculas; let i = index"
          [class.active]="i == id"
          (click)="setActive(matricula, i)">
            <tr>
              <td>{{matricula.alumnoDTO.nombre }}</td>
              <td>{{matricula.cursoDTO.nombre }}</td>
              <td>{{matricula.cursoDTO.profesorDTO.nombre }}</td>
              <td><i class="fas fa-eye" routerLink="alumnos">ver</i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4">
    <div class="centro">
      <div class="row">
        <div class="col col-md-12">
          <section>
            <div class="example-button-row">
              <button mat-raised-button color="primary" routerLink="crear-curso" class="m-3">Agregar Matriculas</button>
              </div>
          </section>
        </div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
